* {
	box-sizing: border-box;
}

body {
	background: url(images/tealbrick.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: teal;
	animation: 2s ease 0s 1 fadein;
}

a:hover
 {
   text-decoration:none;
   cursor:pointer;
  }


/*Header styles*/
header {
	background-color: white;
	z-index: 99;

}

p {
	font-size: 16px;
}

.page-header {
	margin-top: 0;
	box-shadow: 12px 12px 12px 1px rgba(0,0,0,.5);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.david {
	background-color: teal;
	padding: 31px 10px;
	font-size: 52px;
	color: white;
	text-shadow: 3px 3px rgba(255,255,255,.4);
}

h3 {
	color: teal;
	text-shadow: 3px 3px rgba(255,255,255,.4);
}


/*Main styles*/
ul {
	list-style: none;
}

li {
	padding: 10px;
}

label {
	font-size: 20px;
	padding: 20px;
}

.bg-teal {
	background-color: teal;
	color: white;
	position: relative;
	margin-top: -40px;
	padding-bottom: 4px;
}

.panel {
	background-image: linear-gradient(45deg, silver, white, silver);
	box-shadow: 0 3px 4px rgba(0,0,0,.5);
}

.panel-title {
	font-size: 28px;
	color: teal;
	text-shadow: 3px 3px rgba(86,175,159,.4);
}

.thumbnail {
	box-shadow: 12px 12px 12px 1px rgba(0,0,0,.2);
	margin: 10px;
	padding: 1px;
	transform-style: preserve-3d;
	transition: all 1s ease;
}

.thumbnail:hover {
	transform: rotateY( 180deg );
}

.fa {
	font-size: 80px;
	color: white;
	padding: 10px;
	border-radius: 10px;
}

@keyframes slideInFromLeft {
	0% {
	  transform: translateX(-100%);
	}
	100% {
	  transform: translateX(0);
	}
}

.fa-github {
	background-color: black;
	animation: 2s ease 0s 1 slideInFromLeft;
}

@keyframes slideInFromTop {
	0% {
	  transform: translateY(-100%);
	}
	100% {
	  transform: translateY(0);
	}
}

.fa-linkedin {
	background-color: blue;
	animation: 2s ease 0s 1 slideInFromTop;
}

@keyframes slideInFromRight {
	0% {
	  transform: translateX(100%);
	}
	100% {
	  transform: translateX(0);
	}
}

.fa-stack-overflow {
	background-color: orange;
	animation: 2s ease 0s 1 slideInFromRight;
}

hr {
	opacity: 0;
}
/*footer styles*/
.navbar-fixed-bottom {
	background-color: #3d3d3d;
	color: white;
	padding: 20px;
}

.davidCopyright {
	opacity: .7;
}


@media (max-width: 1186px) {
	.fa {
		font-size: 40px;
	}
}

@media (max-width: 1024px) {
	h3 {
 		font-size: 26px;
	}

	.col-lg-4 {
		display: inline-block;
		padding: 10px 15px 0 15px;
	}

	.david {
		font-size: 33px;
	}
}

@media (min-width: 768px) {
	.container {
		width: auto;
	}

}
